.header__wrap {
	background: $color-primary;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;
	z-index: 50;
}

.header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: $width;
	margin: 0 auto;
	padding: 0;
}

.title {
	margin: 0;
	padding: 0 15px;
	font-size: 24px;
	line-height: 56px;
	font-weight: 400;
	color: white;
}

.help__toggle,
.url__toggle {
	appearance: none;
	background: transparent;
	display: block;
	width: 32px;
	height: 32px;
	line-height: 30px;
	border: 0;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	color: white;
	padding: 0;
	margin: 0 15px;
}

.help__window,
.url__window {
	position: absolute;
    top: 56px;
    background: white;
    width: 100%;
    height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
}

.help__window--hidden,
.url__window--hidden {
	display: none;
}

.url__window input {
	width: 100%;
	text-align: center;
}