$color-primary: lightseagreen;
$color-secondary: crimson;
$gray: silver;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding-top: 56px;
}

.main {
	max-width: 600px;
	margin: 0 auto;
}

@import './components/header/style';
@import './components/slider/style';
@import './components/word/style';
@import './components/playControls/style';
@import './components/progressBar/style';
@import './components/textArea/style';